#header {
    color: #4d16ee;
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-color:white;
}

#body {
    color: black;
    background-color:white;
}
.bod
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

textarea {
    height: 50vh;
    width: 90vw;
    border-radius: 5px;
         box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.prev{
    color: #4d16ee;
    font-size: 40px;
}
#viewer {
    width: 90vw;
    margin-top:10vh;
    border-radius: 5px;
     box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
     }
